html,
body {
  background-color: orange;
}

video, canvas {
  min-height: 425px;
}

.btn {
  background-color: blueviolet;
  cursor: pointer;
  outline: none;
}

.header {
  text-shadow: 2px 2px 5px orangered;
}
